* {
  font-size: 0.9rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 75vw;
  box-shadow: 0px 0px 10rem rgba(0, 0, 0, 0.2);  
  border-radius: 2rem;
  padding: 1rem;

  background-color: var(--primary-color);
}

.login {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#login-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

p {
  margin-top: -2rem;
  margin-bottom: 1.8rem;
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
}

#forgot-password {
  margin-top: 1rem;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

form input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #ccc;
}

form button {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}

.login-image img {
  width: 95%;
  border-radius: 1rem;
}

@media (max-width: 1100px) {
  .login-container {
    width: 85vw;
  }
  .login {
    width: 80%;
  }
} 

@media (max-width: 900px) {
  .login-container {
    width: 90vw;
  }

  .login {
    width: 90%;
  }
} 

@media (max-width: 750px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .login-container {
    grid-template-columns: 1fr;
    width: 85vw;
    gap: 0rem;
    padding: 1.5rem
  }

  .login {
    width: 90%;
  }

  #login-title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  #forgot-password {
    font-size: 1rem;
  }

   .login-image {
    width: 100%;
    height: auto;
  }

  .login-image img {
    width: 100%;
    height: auto;
  }

  #forgot-password {
    margin-bottom: 1rem;
  }

} 